<!DOCTYPE html>
<html>
  <head>
    <title>Amoozon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Amoozon" />

    <meta property="og:description"
      content="Amoozon is a clone of the Amazon e-commerce site that allows users to browse and search for products, view and post reviews, and add items to their shopping cart. Amoozon is built using a Ruby on Rails BE and React-Redux FE."
    />
    

  </head>

  <script>window.usflag = "<%= image_url("usflag.png") %>"</script>
  <script>window.darkLogo = "<%= image_url("amoozon-logo.png") %>"</script>
  <script>window.electronics = "<%= image_url("electronics.jpeg") %>"</script>
  <script>window.splashbg = "<%= image_url("splashbg.jpg") %>"</script>
  <script></script>


  <body>
    <%= yield %>
  </body>
</html>



