<!DOCTYPE html>
<html>
  <head>
    <title>Amoozon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:title" content="Amoozon" />

    <meta property='og:image' content="<%= image_url('coverphoto.png') %>"/>

    <meta property="og:description"
      content="Amoozon is a clone of the Amazon e-commerce site that allows users to browse and search for products, view and post reviews, and add items to their shopping cart. Amoozon is built using a Ruby on Rails BE and React-Redux FE."
    />
    

  </head>

  <script>window.usflag = "<%= image_url("usflag.png") %>"</script>
  <script>window.darkLogo = "<%= image_url("amoozon-dark.png") %>"</script>
  <script>window.lightLogo = "<%= image_url("amoozon-light.png") %>"</script>
  <script>window.primeMoo = "<%= image_url("primemoo.png") %>"</script>
  <script>window.cartgif = "<%= image_url("cartgif.gif") %>"</script>
  <script>window.splashbg = "<%= image_url("splashbg.png") %>"</script>

  <script>window.electronics = "<%= image_url("electronics.jpeg") %>"</script>
  <script>window.booksAndMovies = "<%= image_url("booksAndMovies.jpeg") %>"</script>
  <script>window.foodAndGrocery = "<%= image_url("foodAndGrocery.jpeg") %>"</script>
  <script>window.beautyAndHealth = "<%= image_url("beautyAndHealth.jpeg") %>"</script>
  <script>window.gamesAndToys = "<%= image_url("gamesAndToys.jpeg") %>"</script>
  <script>window.fashionAndJewlery = "<%= image_url("fashionAndJewlery.jpeg") %>"</script>
  <script>window.homeAndGarden = "<%= image_url("homeAndGarden.jpeg") %>"</script>
  <script>window.sportsAndOutdoors = "<%= image_url("sportsAndOutdoors.jpeg") %>"</script>


  <script></script>


  <body>
    <%= yield %>
  </body>
</html>



